In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Importing data into a dataframe with the pandas library
df = pd.read_excel('data/ornlbtricdatafromcc3fy2014.xlsx', header=1, skiprows=[2, 3], na_values='NAN')
df.set_index(pd.to_datetime(df['TIMESTAMP']), inplace=True)

temperatures = ["RoofS_tmp_Avg","AtticFlrS_tmp_Avg","RoofN_tmp_Avg","AtticFlrN_tmp_Avg","BonusFlr_tmp_Avg",
                "CantFlr_tmp_Avg","WallNcav_tmp_Avg","WallNsrf_tmp_Avg","WallScav_tmp_Avg",
                "WallSsrf_tmp_Avg","FanTsup_tmp_Avg","FanTret_tmp_Avg","FanTexh_tmp_Avg","FanTint_tmp_Avg",
                "Din_tmp_Avg","Grt_tmp_Avg","Brkf_tmp_Avg","Kit_tmp_Avg","BedM_tmp_Avg","Bed3_tmp_Avg",
                "Bed2_tmp_Avg","BedB_tmp_Avg","Mbath_tmp_Avg","Outside_Tmp_Avg",
                "LVL2_Tmp_Avg", "LVL1_Tmp_Avg", "Attic_Tmp_Avg", "HWhot_tmp_Avg", "HWcold_tmp_Avg",
                "Shower_tmp_Avg", "garage_tmp_Avg", "dishHot_tmp_Avg", "washHot_tmp_Avg",
                "Tstat1_tmp_Avg", "Tstat2_tmp_Avg"]
for t in temperatures:
    df[t] = (df[t]-32) * 5/9

rooms = ['Din_tmp_Avg', 'Grt_tmp_Avg', 'Brkf_tmp_Avg', 'Kit_tmp_Avg', 'BedM_tmp_Avg', 'Bed3_tmp_Avg', 'Bed3_tmp_Avg', 'Bed2_tmp_Avg', 'BedB_tmp_Avg', 'Mbath_tmp_Avg']
df['ti'] = df[rooms].mean(axis=1)

df_day = df.groupby(df.index.date).mean()

df_day.head()

,RECORD,main_Tot,Batt_Volt_Avg,PV_generated_Tot,HP_in_Tot,HP_out_Tot,Fantech_Tot,solar_HW_pump_Tot,HW_Tot,bathup_lts_Tot,...,gar_ext_lts_Tot,garage_tmp_Avg,jacuzzi_plg_Tot,dishHot_tmp_Avg,washHot_tmp_Avg,L1_heater_Tot,Tstat1_tmp_Avg,Tstat2_tmp_Avg,TV_plg_Tot,ti
2013-10-01,814.0,401.326316,12.801684,116.793684,12.434211,49.613684,9.928411,0.0,36.057895,3.128947,...,3.880737,21.165789,28.923474,38.083333,36.388889,41.901158,24.227485,NaN,5.007537,23.659544
2013-10-02,909.5,410.817708,12.796042,100.570312,14.986979,61.371354,9.808750,0.0,35.083333,3.151042,...,3.828594,21.513657,29.033646,38.166667,36.277778,40.890156,24.269097,NaN,4.933740,23.710503
2013-10-03,1005.5,395.817708,12.798021,107.322917,15.963542,66.444271,9.781583,0.0,35.187500,3.151042,...,3.831146,21.907060,29.033438,38.222222,36.694444,40.799271,24.241493,NaN,4.940271,23.727240
2013-10-04,1101.5,353.265625,12.791458,123.767708,16.106771,70.785938,9.787115,0.0,31.140625,3.148438,...,3.836302,21.924248,28.982812,NaN,NaN,40.737396,24.176389,NaN,4.947344,23.662135
2013-10-05,1197.5,363.984375,12.794063,129.954688,17.343750,79.419792,9.784729,0.0,29.666667,3.148438,...,3.840365,21.974306,30.879167,NaN,NaN,40.832604,24.273843,NaN,4.941771,23.791337

In [2]:
df_day.to_csv('data/ornldailydata.csv', index_label='date')